@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-cursor {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
}

.clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-transition {
  transition: right 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menu-border-r {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-border-t {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.menu-item#active .menu-item-link a {
  color: #000 !important;
}

.bg-hover {
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 95% 100%, 0% 100%, 0% 50%);
  opacity: 0;
}

.menu-item#active {
  opacity: 1;
}

.menu-item span .word .char {
  color: #000;
}

.menu-item#active span .word .char {
  color: #000;
}

.menu-item:hover span .word .char.char-active {
  color: #fff;
}

.menu-item span .word .char.char-active {
  color: #000;
}

.menu-content p::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #fff;
  mix-blend-mode: difference;
}

.menu-content p:hover::after {
  animation: hoverEffect 1s ease forwards;
}

@keyframes hoverEffect {

  0%,
  100% {
    width: 0;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  51% {
    left: auto;
    right: 0;
    width: 100%;
  }

  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}

.india-logo img {
  animation: logoRotate 5s infinite linear;
}

@keyframes logoRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.link::after {
  content: "";
  position: absolute;
  z-index: 30;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  transition: width 5s ease-in-out;
}